
<%= Article.public_count %> Public Articles and Counting!
<div class="container">
  <div class="d-flex flex-row justify-content-center">

<ul>
  <% @articles.each do |article| %>
  <%= link_to edit_article_path(article), class: 'text-decoration-none' do %>
      <div class="card mt-3 post-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <% if article.header_image.present? %>
              <div class="header-img" style="background-image: url(<%= url_for(article.header_image) %>);">

              </div>
              <% end %>
            </div>



              <div class="col-md-10">

                  <% if article.public? %>
                  Published
                  <% elsif article.archived? %>
                    Archived
                    <% elsif article.private? %>
                    Private
                  <% end %>

                <h5 class='card-title mb-1 text-dark'><%= article.title %></h5>
                <p class='text-secondary mb-0'><%= article.body %> </p>
              </div>


          </div>


        </div>
      </div>
      <% end %>
  <% end %>

  </div>
</div>
