
<div class="container">
  <div class="d-flex flex-row justify-content-center">

<ul>
  <div class="card mb-4 index-title">
    <div class="center">
      Articles
    </div>
  </div>
  <div class="row">

  <% @articles.each do |article| %>
    <% if article.public? %>
    <div class="col-md-6 col-lg-4">
        <div class="card post-card">
            <%= link_to article_path(article), class: 'text-decoration-none' do %>
              <% if article.header_image.present? %>
              <div class="header-img" style="background-image: url(<%= url_for(article.header_image) %>);">
              </div>
              <% end %>
              <div class="card-body d-flex flex-column">
              <h5 class='card-title mb-1 text-dark'><%= article.title %></h5>
              <p class='card-text'><%= truncate(article.body, length: 220) %> </p>
              <a href=<%= article_path(article)%> class="btn btn-secondary mt-auto">Read</a>
          <% end %>
          </div>
        </div>
    </div>

    <% end %>
  <% end %>
</div>

  </div>
</div>
