<div class="container-fluid mt-3">

<h1><%= @article.title %></h1>
<div class="card">
  <div class="col-md-10">
    <% if @article.header_image.present? %>
      <%= image_tag(@article.header_image , width: '20%') %>
    <% end %>
  </div>


      <% @article.elements.each do |elem| %>
        <% if elem.persisted? %>
        <%= elem.content %>
        <% end %>
      <% end %>
    <div class="">
      <%= time_tag(@article.updated_at) %>
    </div>
</div>

<p><%= @article.body %></p>
<div class="card">
  <h3>Comments</h3>

  <% @article.comments.each do |comment| %>
    <% if comment.public? %>
     <strong><%= comment.commenter %></strong>
     <%= comment.body %>
    <% elsif comment.private? %>
      <div class="card">
      <i> Private comment to author </i>
      </div>
    <% elsif comment.pending? %>
      <div class="card">
      <i> pending (wait until author makes public) </i>
      </div>
    <% end %>
  <% end %>
  <h6>Add a Comment:</h6>
            <% if user_signed_in? %>
  <%= render 'visitors/comments/form' %>
  <% else %>
  sign in to comment.             <%= link_to "sign in", new_user_session_path, method: :delete, class: 'nav-link active'%>

  <% end %>
</div>

<%= link_to "Back", root_path, class: 'btn btn-secondary' %>

</div>
